.review {
    background: var(--gradient-2);
    padding: 15vh 5%;
    height: 700px;
    .container {
        margin: auto;
        max-width: 1440px;
        padding-left: 15px;
        padding-right: 15px; 
    }
    &-title {
        font-family: var(--font-1);
        font-weight: 700;
        font-size: 3rem;
        line-height: 65px;
        color: var(--color-4);
        text-align: center;
    }
    &-card {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 5%;
        .swiper-slide-active {
            scale: (1.1);
            p {
                color: var(--color-3);
                font-weight: 500;
                font-size: 0.9rem;
            }
            .review-profile .name {
                font-size: 1rem;
            }
        }
        &-content {
            width: 80%;
            background: #FFFFFF;
            border-radius: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            filter: drop-shadow( 0px 5px 5px rgba(126, 181, 166, 0.3));
        }
        &-body {
            p {
                text-align: justify;
                font-family: var(--font-2);
                font-weight: 300;
                font-size: 0.8rem;
                line-height: 17px;
                color: var(--color-3);
            }
        }
        .review-profile {
            display: flex;
            margin-top: 20px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 40px;
            }
            .name {
                margin-left: 10px;
                display: flex;
                align-items: center;
                font-family: var(--font-1);
                font-size: 0.8rem;
                line-height: 27px;
                color: var(--color-2);
            }
        }
    }
}
