button.print2 {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    color: white;
    background-color: var(--theme-1-1);
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999;
  }

.main-print2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-1 {
        display: grid;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: 50% auto;
        grid-template-columns: 50% 50%;
        .nikah {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100vh;
            .bg-linear {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--gradient-3);
                z-index: 1;
            }
            h3 {
                position: relative;
                z-index: 5;
                padding-top: 30px;
                color: var(--theme-1-1);
                font-family: var(--font-3);
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
            }
            &-nama {
                position: relative;
                z-index: 5;
                width: auto;
                height: 70%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: end;
                h1 {
                    color: var(--theme-1-2);
                    font-family: var(--font-5);
                    font-size: 2.5rem;
                    font-weight: 400;
                }
            }
            .vector {
                position: relative;
                z-index: 5;
            }
            h2 {
                position: relative;
                z-index: 5;
                padding-top: 10px;
                text-align: center;
                color: var(--theme-1-2);
                font-family: var(--font-3);
                font-size: 1.5rem;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        .qrcode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #1A3C40 0%, #1A3C40 100%);
            canvas {
                width: 200px !important;
                height: 200px !important;
                padding: 15px;
            }
            h3 {
                margin-bottom: 20px;
                color: var(--theme-1-2);
                text-align: center;
                font-family: var(--font-3);
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    &-2 {
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;
        // margin: 5vh 0;
        background-color: var(--theme-1-2);
        .mempelai {
            border-right: #1A3C40 solid 1px;
            position: relative;
            padding:  0 5% 0 7vw;
            h2 {
                position: absolute;
                left: -5%;
                top: 60%;
                transform: rotate(90deg) translateX(-60%);
                color: var(--theme-1-1);
                font-family: var(--font-1);
                font-size: 2rem;
                font-weight: 400;
            }
            &-nama {
                margin: 10vh 0;
                h1 {
                    font-family: var(--font-4);
                    font-weight: 200;
                    font-size: 4rem;
                    color: var(--theme-2-1);
                }
                h1 {
                    color: var(--theme-1-1);
                    font-family: var(--font-5);
                    font-size: 2.5rem;
                    font-weight: 400;
                }
                h3 {
                    color: var(--theme-1-1);
                    font-family: var(--font-3);
                    font-size: 0.9rem;
                    font-weight: 400;
                }
            }
            .wanita {
                text-align: end;
            }
            .and {
                text-align: center;
                color: var(--theme-1-1);
                font-family: var(--font-3);
                font-size: 2.3rem;
                font-weight: 400;
            }
            .image {
                position: absolute;
                left: 0%;
                bottom: 0%;
                background-color: var(--theme-1-1);
            }
            .image img {
                padding: 15px;
                width: 250px;
                height: 200px;
            }
            &::before {
                content: url("");
                position: absolute;
                width: 10%;
                height: 30%;
                background-color: var(--theme-1-1);
                top: 0;
                left: 0;
                z-index: 2;
              }
        }
        .agenda {
            position: relative;
            text-align: center;
            .judul h2 {
                position: absolute;
                right: -5%;
                top: 40%;
                transform: rotate(-90deg) translateX(-40%);
                color: var(--theme-24, #1A3C40);
                font-family: var(--font-1);
                font-size: 2rem;
                font-weight: 400;
            }
            &-content {
                width: 90%;
                margin: 10vh 0;
                height: 80%;
                position: relative;
                &-nama {
                    h1 {
                    color: var(--theme-1-1);
                    font-family: var(--font-5);
                    font-size: 2.3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    }
                    h3 {
                        margin: 2vh 0;
                        color: var(--theme-1-1);
                        font-family: var(--font-3);
                        font-size: 0.9rem;
                        font-weight: 400;
                    }
                }
                .kutipan {
                    width: 80%;
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &::before {
                content: url("");
                position: absolute;
                width: 10%;
                height: 30%;
                background-color: var(--theme-1-1);
                bottom: 0;
                right: 0;
                z-index: 2;
            }
        }
    }
}