.navbar {
  padding: 10px 5%;
  width: 100vw;
  position: fixed;
  z-index: 10;
  .nav {
    top: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    &-logo{
      height: 50px;
      margin: 0 10px;
      
    }
    &-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &-menu {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 35px;
        text-transform: uppercase;
        color: var(--color-3);
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }
      &-log {
        display: flex;
        gap: 20px;
        &-in {
          font-size: 14px;
          padding: 10px 30px;
          border: 2px solid var(--color-3);
          border-radius: 10px;
          color: var(--color-3);
          text-transform: uppercase;
          text-decoration: none;
        }
        &-up {
          font-size: 14px;
          padding: 10px 30px;
          border-radius: 10px;
          text-decoration: none;
          text-transform: uppercase;
          background-color: var(--color-2);
          color: white;
        }
        &-out{
          font-size: 14px;
          padding: 10px 30px;
          border-radius: 10px;
          list-style: none;
          text-decoration: none;
          text-transform: uppercase;
          background-color: var(--color-1);
          color: white;
          cursor: pointer;
        }
      }
    }
    .burger {
      display: none;
    }
  }
  &.fixed {
    background-color: white;
  }
}
.landing {
  display: flex;
  padding: 20vh 5%;
  gap: 60px;
  background: var(--gradient);
  img {
    width: 100%;
    object-fit: contain;
  }
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      display: block;
      font-size: 3rem;
      font-family: var(--font-1);
      color: var(--color-2);
      line-height: 50px;
    }
    p {
      margin: 1vh 0;
      color: var(--color-3);
    }
    &-link {
      display: flex;
      margin: 3vh 0;
      align-items: center;
      gap: 40px;
      button {
        padding: 12px 24px;
        border: none;
        border-radius: 10px;
        background-color: var(--color-1);
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      &-tema {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--color-2);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .nav {
      flex-wrap: wrap;
      justify-content: space-between;
      // height: 8vh;
      &-link {
        display: none;
        &-menu {
          display: flex;
          flex-direction: column;
        }
        &.active {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
      }
      .burger {
        padding: 5px 0;
        display: flex;
        justify-content: end;
        flex-direction: column;
        gap: 5px;
        appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
        & span {
          background-color: var(--color-2);
          height: 1px;
          width: 25px;
          transition: 0.3s;
        }
        &.active span {
          &:nth-child(1) {
            transform: translate(0px, 2px) rotate(45deg);
          }

          &:nth-child(2) {
            transform: translate(0px, -4px) rotate(-45deg);
          }
        }
      }
    }
  }

  .landing {
    flex-wrap: wrap;
  }
}