.font-1 {
  font-family: var(--font-1) !important;
}

.font-2 {
  font-family: var(--font-2) !important;
}

.font-3 {
  font-family: var(--font-3) !important;
}

.font-4 {
  font-family: var(--font-4) !important;
}

.font-5 {
  font-family: var(--font-5) !important;
}

.modal-2 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid var(--theme-1-1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 100;
  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    position: absolute;
    z-index: 0;
    background-color: var(--theme-1-1);
  }
  &-judul {
    padding: 20px 0;
    color: var(--theme-1-2);
    font-size: 1.6rem;
    text-transform: uppercase;
    z-index: 1;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-1);
    color: var(--theme-1-2);
    z-index: 1;
  }
  &-nama {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    height: 50vh;
    gap: 10px;
    h1 {
      font-family: var(--font-5);
      font-weight: 400;
      font-size: 2.5rem;
      color: var(--theme-1-2);
      z-index: 1;
    }
  }
  &-tamu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    z-index: 1;
    h2 {
      padding: 20px 0;
      color: var(--theme-1-2);
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 300;
      font-family: var(--font-1);
      color: var(--theme-1-2);
    }
  }
  button {
    width: 100%;
    padding: 10px 14px;
    background-color: var(--theme-1-1);
    color: var(--theme-1-2);
    font-family: var(--font-1);
    border: none;
    cursor: pointer;
  }
}

.main-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // &::before {
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   height: 100vh;
  //   width: 100vw;
  //   position: absolute;
  //   background: linear-gradient(180deg, rgba(26, 60, 64, 0) 0%, #1a3c40 100%);
  //   z-index: 0;
  // }
  &-1 {
    position: relative;
    padding: 25px 5vw;
    // margin: 5% 15vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: cover;
    &-bg {
      background: linear-gradient(180deg, rgba(26, 60, 64, 0) 0%, #1a3c40 100%);
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: 100%;
    }
    .nikah {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      height: 80vh;
      z-index: 1;
      .judul {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: var(--font-1);
        color: var(--theme-1-2);
        text-shadow: -1px -1px 0 var(--theme-1-1), 1px -1px 0 var(--theme-1-1), -1px 1px 0 var(--theme-1-1), 1px 1px 0 var(--theme-1-1);
        text-align: center;
        text-transform: uppercase;
      }
      h3 {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-1);
        color: var(--theme-1-2);
        text-align: center;
      }
      &-nama {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
        z-index: 1;
        h1 {
          font-family: var(--font-5);
          font-weight: 400;
          font-size: 2.5rem;
          color: var(--theme-1-2);
        }
      }
    }
  }
  &-2 {
    display: flex;
    justify-content: center;
    margin: -50px 0 0 0;
    background-color: var(--theme-1-2);
    z-index: 2;
    border-radius: 20px;
    .pasangan {
      margin: 70px 0;
      .judul {
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-1-1);
          // font-size: 1.5rem;
          font-weight: 700;
        }
      }
      .and {
        margin: 5vh;
        text-align: center;
        font-weight: 400;
        font-size: 4rem;
        font-family: var(--font-5);
        color: var(--theme-1-1);
        text-align: center;
      }
      &-nama {
        &-pria {
          display: flex;
          flex-wrap: wrap;
          width: 100vw;
          justify-content: start;
          padding: 30px 0;
          .foto {
            z-index: 1;
            background-color: var(--theme-1-1);
            padding: 2% 2% 2% 5%;
            img {
              max-width: 250px;
              // max-height: 200px;
            }
          }
          .info {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: fit-content;
          }
          h3 {
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--font-1);
            color: var(--theme-1-1);
            text-align: center;
          }
          h1 {
            font-family: var(--font-5);
            font-weight: 400;
            // font-size: 2rem;
            color: var(--theme-1-1);
            // text-align: center;
          }
          .social {
            display: flex;
            justify-content: center;
            margin: 10px;
            color: var(--theme-1-1);
            gap: 10px;
            font-size: 1.4rem;
            a {
              text-decoration: none;
              color: var(--theme-1-1);  
            }
          }
        }
        &-wanita {
          display: flex;
          flex-wrap: wrap;
          width: 100vw;
          justify-content: end;
          padding: 30px 0;
          .foto {
            z-index: 1;
            background-color: var(--theme-1-1);
            padding: 2% 5% 2% 2%;
            img {
              max-width: 250px;
              // max-height: 200px;
            }
            @media screen and (max-width: 540px) {
              &.small {
                display: block;
              }              
              &.big {
                display: none;
              }              
            }
            @media screen and (min-width: 540px) {
              &.small {
                display: none;
              }              
              &.big {
                display: block;
              }              
            }
          }
          .info {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
            width: fit-content;
          }
          h3 {
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--font-1);
            color: var(--theme-1-1);
            text-align: center;
          }
          h1 {
            font-family: var(--font-5);
            font-weight: 400;
            // font-size: 4rem;
            color: var(--theme-1-1);
            // text-align: center;
          }
          .social {
            display: flex;
            justify-content: center;
            margin: 10px;
            color: var(--theme-1-1);
            gap: 10px;
            font-size: 1.4rem;
            a {
              text-decoration: none;
              color: var(--theme-1-1);  
            }
          }
        }
      }
    }
  }
  &-3 {
    .kutipan {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -20px 0;
      padding: 15vh 0;
      z-index: 0;
      background-color: var(--theme-1-1);
      color: var(--theme-1-2);
      p {
        width: 60vw;
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-1-2);
      }
      h3 {
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-1-2);
      }
    }
  }
  &-4 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--theme-1-2);
    border-radius: 20px;
    .agenda {
      padding: 50px 0;
      .judul {
        padding: 40px;
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-1-1);
        }
      }
      &-nama {
        margin: 20px 0;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--theme-1-1);
        border-radius: 10px;
        h3 {
          width: 50vw;
          font-size: 1rem;
          font-weight: 400;
          font-family: var(--font-1);
          color: var(--theme-1-2);
          text-align: center;
        }
        h1 {
          font-family: var(--font-4);
          font-weight: 400;
          font-size: 2.5rem;
          color: var(--theme-1-2);
          text-align: center;
        }
        a {
          text-align: center;
          width: 200px;
          margin: 10px;
          padding: 10px 14px;
          background-color: var(--theme-1-2);
          color: var(--theme-1-1);
          font-family: var(--font-1);
          border: none;
          text-decoration: none;
        }
      }
    }
  }
  &-5 {
    margin-top: -10px;
    padding: 40px;
    background-color: var(--theme-1-2);
    border-radius: 15px;
    z-index: 1;
    .kutipan {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      h2 {
        color: var(--theme-1-1);
        font-size: 2rem;
        font-family: var(--font-1);
        text-transform: uppercase;
      }
      h3 {
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-1-1);
      }
    }
  }
  &-6 {
    display: flex;
    justify-content: center;
    background-color: var(--theme-1-1);
    margin: -20px 0;
    z-index: 0;
    .gallery {
      .judul {
        padding: 60px 0;
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-1-2);
        }
      }
      &-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        &-nama {
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            max-width: 250px;
            max-height: 250px;
          }
          @media screen and (min-width: 640px) {
            img {
              max-width: 300px;
              height: 200px;
              object-fit: contain;
              object-position: center;
            }
          }
        }
      }
    }
  }
  &-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-1-1);
    // padding: 10vh 0;
    height: 100vh;
    h3 {
      margin: 30px;
      text-align: center;
      font-family: var(--font-1);
      color: var(--theme-1-2);
    }
    button {
      width: 200px;
      margin: 30px;
      padding: 10px 14px;
      background-color: var(--theme-1-2);
      color: var(--theme-1-1);
      font-family: var(--font-1);
      border: none;
    }
  }
}
