.font-1 {
  font-family: var(--font-1) !important;
}
.font-2 {
  font-family: var(--font-2) !important;
}
.font-3 {
  font-family: var(--font-3) !important;
}
.font-4 {
  font-family: var(--font-4) !important;
}
.font-5 {
  font-family: var(--font-5) !important;
}
.modal-2 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid var(--theme-1-1);
  // background-repeat: no-repeat;
  // background-position: 40%;
  // background-size: cover;
  overflow: hidden;
  z-index: 100;
  .bg-image {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -9;
    img {
      width: 100vw;
      height: 100vh;
    }
  }
  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    background-color: var(--theme-1-1);
  }
  &-judul {
    padding: 20px 0;
    color: var(--theme-1-2);
    font-size: 1.6rem;
    text-transform: uppercase;
    z-index: 1;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-1);
    color: var(--theme-1-2);
    z-index: 1;
  }
  &-nama {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20vh 10vh 0;
    gap: 10px;
    h1 {
      font-family: var(--font-5);
      font-weight: 200;
      font-size: 4rem;
      color: var(--theme-1-2);
      z-index: 1;
    }
  }
  &-tamu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    z-index: 1;
    h2 {
      padding: 20px 0;
      color: var(--theme-1-2);
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 300;
      font-family: var(--font-1);
      color: var(--theme-1-2);
    }
  }
  button {
    width: 100%;
    padding: 10px 14px;
    background-color: var(--theme-1-1);
    color: var(--color-4);
    font-family: var(--font-1);
    border: none;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  &::before {
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(180deg, rgba(26, 60, 64, 0) 0%, #1a3c40 100%);
    z-index: 0;
  }
  &-1 {
    position: relative;
    // padding: 25px 5vw;
    // margin: 5% 15vw;
    display: flex;
    justify-content: center;
    .bg-image {
      position: absolute;
      top: 0%;
      object-fit: cover;
      object-position: center;
      z-index: -9;
      img {
        width: 100vw;
        height: 100vh;
      }
    }
    .nikah {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      .judul {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-1);
        color: var(--theme-1-1);
        text-align: center;
      }
      h3 {
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--font-1);
        color: var(--theme-1-2);
        text-align: center;
      }
      &-nama {
        display: flex;
        flex-wrap: wrap;
        margin: 20vh 10vh 0;
        gap: 10px;
        justify-content: center;
        z-index: 1;
        h1 {
          font-family: var(--font-5);
          font-weight: 200;
          font-size: 4rem;
          color: var(--theme-1-2);
        }
      }
    }
  }
  &-2 {
    display: flex;
    justify-content: center;
    margin: 20vh 0;
    background-color: var(--theme-1-2);
    z-index: 1;
    border-radius: 20px;
    .mempelai {
        
      .judul {
        padding: 40px 60px;
        margin-bottom: 10vh;
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-1-1);
        }
      }
      .and {
        margin: 5vh;
        text-align: center;
        font-weight: 200;
        font-size: 4rem;
        font-family: var(--font-5);
        color: var(--theme-1-1);
        text-align: center;
      }
      &-nama {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: start;
        .foto {
          z-index: 1;
          background-color: var(--theme-1-1);
          &:nth-child(1){
              padding: 2% 2% 2% 5%;
            }
            &:nth-child(2){
              padding: 2% 5% 2% 1%;

          }
        }
        .info{
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: fit-content;
        }
        h3 {
          font-size: 1rem;
          font-weight: 200;
          font-family: var(--font-1);
          color: var(--theme-1-1);
          text-align: center;
        }
        h1 {
          font-family: var(--font-5);
          font-weight: 200;
          font-size: 4rem;
          color: var(--theme-1-1);
          text-align: center;
        }
        .social {
          display: flex;
          justify-content: center;
          margin: 10px;
          color: var(--theme-1-1);
          gap: 10px;
          font-size: 1.4rem;
        }
      }
    }
  }
  &-3 {
    .kutipan {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      &::before {
        content: url(./img/assets-9.png);
      }
      &::after {
        content: url(./img/assets-10.png);
      }
      p {
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-2-1);
      }
      h3 {
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-2-1);
      }
    }
  }
  &-4 {
    display: flex;
    justify-content: center;
    margin: 20vh 0;
    .agenda {
      .judul {
        padding: 40px 60px;
        margin-bottom: 10vh;
        background: url(./img/assets-8.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: fill;
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-2-1);
        }
      }
      &-nama {
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          width: 50vw;
          font-size: 1rem;
          font-weight: 200;
          font-family: var(--font-1);
          color: var(--theme-2-1);
          text-align: center;
        }
        h1 {
          font-family: var(--font-4);
          font-weight: 200;
          font-size: 4rem;
          color: var(--theme-2-1);
          text-align: center;
        }
        a {
          display: flex;
          justify-content: center;
          width: 200px;
          margin: 10px;
          padding: 10px 14px;
          background-color: var(--theme-2-1);
          color: var(--color-4);
          font-family: var(--font-1);
          border: none;
          text-decoration: none;
        }
      }
    }
  }
  &-5 {
    .kutipan {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      &::before {
        content: url(./img/assets-11.png);
      }
      &::after {
        content: url(./img/assets-12.png);
      }
      h2 {
        color: var(--theme-2-1);
        font-size: 2rem;
        font-family: var(--font-1);
        text-transform: uppercase;
      }
      h3 {
        text-align: center;
        font-family: var(--font-1);
        color: var(--theme-2-1);
      }
    }
  }
  &-6 {
    display: flex;
    justify-content: center;
    margin: 20vh 0;
    .gallery {
      .judul {
        padding: 40px 60px;
        margin-bottom: 10vh;
        background: url(./img/assets-8.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: fill;
        h2 {
          padding: 20px 0 0;
          text-align: center;
          text-transform: uppercase;
          color: var(--theme-2-1);
        }
      }
      &-nama {
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-content {
        display: flex;
        flex-direction: row;
        &-nama {
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            max-width: 300px;
          }
        }
      }
    }
  }
  &-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30vh 0;
    h3 {
      margin: 30px;
      text-align: center;
      font-family: var(--font-1);
      color: var(--theme-2-1);
    }
    button {
      width: 200px;
      margin: 30px;
      padding: 10px 14px;
      background-color: var(--theme-2-1);
      color: var(--color-4);
      font-family: var(--font-1);
      border: none;
    }
  }
}
