.fitur {
    padding: 15vh 5%;
    .container {
        margin: auto;
        max-width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-header {
        padding-top: 50px;
        .title {
            font-family: var(--font-1);
            font-size: 3rem;
            line-height: 60px;
            color: var(--color-2);
        }
    }
    &-list {
        display: flex;
        .swiper {
            padding-left: 20px;
        }
        // .swiper-slide-active .fitur-card {
        //     background: var(--color-4);
        //     display: grid;
        //     place-items: center;
        //     &-img {
        //         background-color: #FFFFFF;
        //         border-radius: 10px;
        //         padding: 5px;
        //         width: 80px;
        //         height: 80px;
        //     }
        //     .fitur-name {
        //         color: #FFFFFF;
        //     }
        // }
    }
    &-card {
        width: 90%;
        height: 242px;
        box-shadow: 0px 0px 8px rgba(173, 90, 25, 0.5);
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 70px;
        margin-bottom: 100px;
        text-align: center;
    }
    &-card-img {
        height: 65%;
        width: 100%;
        display: grid;
        place-items: center;
    }
    &-icon {
        width: 60px;
        height: 60px;
    }
    &-name {
        font-family: var(--font-1);
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 32px;
        color: var(--color-4);
    }
}