@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --color-1: #da8e04;
  --color-2: #5a3c22;
  --color-3: #ad5a19;
  --color-4: #7eb5a6;
  --color-5: #cfcfbd;
  --color-6: #fff;

  --gradient: linear-gradient(109.24deg, #cfcfbd 0%, #7eb5a6 100%), #ffffff;
  --gradient-2: linear-gradient(180deg, rgba(217, 217, 217, 0) 58.61%, #CFCFBD 97.2%);

  --font-1: 'Cinzel', sans-serif;
  --font-2: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  font-family: var(--font-2);
}

canvas {
  width: 160px !important;
  height: 160px !important;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
