@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --color-1: #da8e04;
  --color-2: #5a3c22;
  --color-3: #ad5a19;
  --color-4: #7eb5a6;
  --color-5: #cfcfbd;

  --gradient: linear-gradient(109.24deg, #cfcfbd 0%, #7eb5a6 100%), #ffffff;

  --font-1: 'Cinzel', sans-serif;
  --font-2: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  font-family: var(--font-2);
}
